/*------------
     RESET
------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------
    HEADER
----------*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.white{
    color: white;
}

.nav{
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.flex-nav{
    background-color: #255ee9;
    padding: 6px 0;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header div.flex-nav .login{
    padding: 6px;
    font-size: 10px;
}

.header-flex{
    background-color: #628cf7;
    padding: 160px 0;
}

/*------------
     MAIN
------------*/

.main-flex {
    display: flex;
    background-color: rgb(238, 238, 238);
    padding: 160px 0;
    gap: 24px;
    justify-content: center;
}

.col-small{
    background-color: #255ee9;
    width: 33%;
    align-self: center;
    height: 112px;
}

.col-big{
    background-color: grey;
    width: 33%;
}

.flex-second{
    display: flex;
    background-color: rgb(184, 184, 184);
    padding: 160px 0;
    gap: 36px;
    justify-content: center;
    flex-direction: row-reverse;

}

.main-lastflex{
    display: flex;
    background-color: rgb(184, 184, 184);
    padding: 160px 160px;
    gap: 16px;
    justify-content: center;
    flex-direction:column-reverse;
}

.col-last{
    width: 50%;
    align-self: center;
    height: 112px;
    background-color: orange;
}